<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자 주변의 간편결제 가맹점을 불러올 수 있도록, 현재 위치를 가져옵니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>사용자 주변의 간편결제 가맹점을 불러올 수 있도록, 현재 위치를 가져옵니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>사용자 주변의 간편결제 가맹점을 불러올 수 있도록, 현재 위치를 가져옵니다.</string>
	<key>NAVER_CLIENT_ID</key>
	<string>${NAVER_CLIENT_ID}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
